body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
        
}


.header-top {
    display: flex;
    justify-content: space-between;
    padding:10px;
    margin-left: 50px;
    margin-right: 50px;
}

.header-body {
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    padding:10px;
    margin-left: 50px;
    margin-right: 50px;
        
}

.image-body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 420px;
    background-position: center;
    background-color: #7e7e7e;
    
}

.container-one {
    display: flex;
    gap:40px;
    justify-content: center;
    margin-top: 100px;
    padding-bottom: 120px;
     
   
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 150px;
    width: 150px;
    border-color: lightskyblue;
    display: inline-block;
    border-radius: 25px;
    
    
}

.card-body {
    max-width: 200px;
}

.card-text {
   padding:28px;
   display:flex;
   text-align: center;
   max-width: 200px;
}

.title {
    text-align: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    margin-top: 50px;
    margin-bottom: 20px;
}
.hero-title {
         
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1200px;
}

.container-two {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 150px;
    padding-bottom: 150px;
}

.quote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
      
}

.quoter {
    margin-top: 50px;
}

.body {
    display: flex;
    background-color: rgb(41, 90, 252);
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    justify-content: space-between;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color:#E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
}

button {
    border: #F9FAF8;
    border-style:outset;
    color: #F9FAF8;
    background-color: rgb(41, 90, 252);
    border-radius: 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;


}

.body-left>button {
    border: none;
}

.left-title {
    font-weight: 600;
}

.body-left>button,.right-side>button {
    margin-top: 20px;
}

.logo>a{

    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
}


.left-title,.hero-text,.header-links>a {
    text-decoration: none;
    color: #E5E7EB ;
    font-size: 18px;
    padding-right: 10px;
    
}

